<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<body>
    <h1>Вход</h1>
    <form method="post" action="/login">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Войти">
    </form>
    <h3>{{status}}</h3>
</body>
</html>
